# disable automatic filename re-mapping based on languages (breaks RewriteCond)
Options -MultiViews

# redirect all api/v1/ requests to api.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/v1/(.*)$ %{CONTEXT_PREFIX}/api.php/$1 [QSA,NC,L]
